

*{
    overflow: hidden;
}

.navbar{
    position: sticky;
    width: 100%;
}

.navbar-imageLogo{
    background-image: url("../../img/logoImage.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: solid 5px black;
    outline-offset: -5px;
}

.navbar-title{
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button{
    width: 25%;
}

button:hover{
    width: 30%;
}

