*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: sticky;
}

.navbar-imageLogo{
    background-image: url("../../img/logoImage.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: solid 5px black;
    outline-offset: -5px;
    width: 10%;
}

.navbar-title{
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 2vw;
    text-align: center;
}

.button-navbar{
    transition: 0.2s;
    font-size: 2em;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

.button-navbar-wrap{
    right: 0;
}

.button-navbar:hover{
    font-size: 2.2em;
}

@media(max-width: 600px){
   .navbar{
    flex-direction: column;
   }
   .button-navbar{
    width: 100%;
    text-align: center;
    margin-left: 0px;
    font-size: 4vw;
    border-bottom: 1px solid rgb(49, 44, 44);
   }
   .button-navbar:hover{
    font-size: 5vw;
   }

   .navbar-title{
    font-size: 5vw;
    width: 100%;
   }
}

@media(max-width: 1200px){

}

