*{
    margin: 0;
    padding: 0;
}

/*a{
    text-decoration: none;
    color: white;
}*/

.navbar-all{
    position: sticky;
    background-color: #3C3C3C;
}

.navbar-imageLogo{
    width: 100%;
    max-width: 80px;
}

.navbar-title-image-wrap{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-title{
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1.4em;
    text-align: center;
    width: 28ch;
    flex-wrap: nowrap;
    display: flex;
}

.button-navbar{
    transition: 0.2s;
    font-size: 1.5em;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 14ch;
    background-color: #4E4E4E;
}

.button-navbar-wrap{
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.button-navbar:hover{
    font-size: 1.7em;
}

@media(max-width: 1023px){
    .navbar-title{
        display: none;
    }

    .navbar-imageLogo{
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 1200px){
    .button-navbar{
        font-size: 1.2em;
        width: 15ch;
    }
    .button-navbar:hover{
        font-size: 1.4em;
    }
    .navbar-title{
        font-size: 1.3em;
    }
}

@media(max-width: 690px){
    .navbar-all{
     flex-direction: column;
    }
 
    .button-navbar{
     width: 100%;
     text-align: center;
     margin-left: 0px;
     padding: 20px;
     font-size: 1em;
     border-bottom: 1px solid rgb(49, 44, 44);
    }

    
    .button-navbar:hover{
     font-size: 1.3em;
    }
 
     .navbar-imageLogo{
         width: 100%;
         max-width: 200px;
     }
     .button-navbar-wrap{
         flex-wrap: wrap;
     }
 
     .navbar-title-image-wrap{
         flex-direction: column;
         justify-content: center;
     }

     .navbar-title{
        justify-content: center;
        display: block;
     }
 }